<!--
  YOCS velocity smoother launcher
  -->

<launch>
  <arg name="node_name"             default="velocity_smoother"/>
  <arg name="raw_cmd_vel_topic"     default="/cmd_vel"/>
  <arg name="smooth_cmd_vel_topic"  default="/plt_cmd_vel"/>
  <arg name="robot_cmd_vel_topic"   default="/robot_cmd_vel"/>
  <arg name="odom_topic"            default="/odom"/>

  <arg name="Q_noise"               default="0.1"/>
  <arg name="R_noise"               default="0.5"/>
  <arg name="use_calmanFilter"      default="true"/>
    
  <arg name="sample_N"              default="5"/>
  <arg name="use_movingFilter"      default="true"/>


  <node pkg="velocity_smoother" type="velocity_smoother_node" name="$(arg node_name)" output="screen">
        
    <!-- parameters -->
    <param name="speed_lim_v" value="1.5"/>
    <param name="speed_lim_w" value="1.4"/>       <!-- 5.4 -->
    <param name="accel_lim_v" value="3.5"/>       <!-- 1.0 -->
    <param name="accel_lim_w" value="4.5"/>       <!-- 4.5 -->
    <param name="frequency" value="100.0"/>
    <param name="decel_factor" value="0.7"/>

    <!-- 卡尔曼滤波 -->
    <param name="Q_noise" value="$(arg Q_noise)"/>    <!-- 测量值 -->
    <param name="R_noise" value="$(arg R_noise)"/>    <!-- 预测值 -->
    <param name="use_calmanFilter" value="$(arg use_calmanFilter)"/>

    <!-- 滑动滤波 -->
    <param name="move_sample_N" value="$(arg sample_N)"/>     <!-- 滑动样本数 -->
    <param name="use_movingFilter" value="$(arg use_movingFilter)"/>    

    <!-- Robot velocity feedback type:
      0 - none
      1 - odometry
      2 - end robot commands 
    -->
    <param name="robot_feedback" value="0"/>

    <!-- velocity commands I/O -->
    <remap from="$(arg node_name)/raw_cmd_vel"    to="$(arg raw_cmd_vel_topic)"/>
    <remap from="$(arg node_name)/smooth_cmd_vel" to="$(arg smooth_cmd_vel_topic)"/>

    <!-- Robot velocity feedbacks -->
    <remap from="$(arg node_name)/robot_cmd_vel"  to="$(arg robot_cmd_vel_topic)"/>
    <remap from="$(arg node_name)/odometry"       to="$(arg odom_topic)"/>
  </node>
</launch>
