<robot name="LDS_robot" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:include filename="inertial_matrix.xacro" />
    <xacro:include filename="base.xacro" />
    <xacro:include filename="camera.xacro" />
    <xacro:include filename="laser.xacro" />
    
    <xacro:include filename="control_move.xacro" />
    <xacro:include filename="lidar_config.xacro" />
    <xacro:include filename="camera_config.xacro" />
</robot>
